{# "templates/index.html" #}
{% extends "_base.html" %}
{% block content %}
<h1><p>Пропонуємо таку піцу: <em>{{ pizza_name }}</em></p></h1>
<a type="button", href="/menu"><em>Перейти в Мега меню</em></button>
{% endblock content %}
{% for pizza in pizzas %}
<tr>
    <td>{{ pizza.name }}</td>
    <td>{{ pizza.price }} грн</td>
    <td>
        <form action="{{ url_for('pizzas.edit_pizza', id=pizza.id) }}" method="get">
            <button type="submit">Редагувати</button>
        </form>
    </td>
    <td>
        <form action="{{ url_for('pizzas.delete_pizza', id=pizza.id) }}" method="post" onsubmit="return confirm('Ви впевнені, що хочете видалити піцу?');">
            <button type="submit">Видалити</button>
        </form>
    </td>
</tr>
{% endfor %}
